@import "mocha";
@import url(https://fonts.bunny.net/css?family=noto-sans-mono:300,400,500,700);

body {
    background-color: $base;
    color: $text;
    font-family: "Noto Sans Mono", monospace;
}

h1 a {
    color: $mauve;
}

body > * {
    max-width: 1080px;
    margin: 0 auto;
}

a {
    color: $text;
}

header {
    a {
        text-decoration: none;
    }
}

footer {
    font-size: 0.8rem;
    color: $subtext1;
    a {
        font-size: 0.8rem;
        color: $subtext1;
    }
}
