body {
    background-color: #3c3c3c;
    color: #cccccc;
}

body > * {
    max-width: 1080px;
    margin: 0 auto;
}

a {
    color: #cccccc;
}

header {
    a {
        text-decoration: none;
    }
}

footer {
    font-size: 0.8rem;
    color: #a0a0a0;
    a {
        font-size: 0.8rem;
        color: #a0a0a0;
    }
}
